header {
  display: flex;
  position: fixed;
  font-family: Veranda, sans-serif;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
}

/* Header Nav Styles */
nav {
display: block;
padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  text-decoration: underline;
  color: black;
}

/* Header Logo Styles */
.logo{
  display: flex;
  padding-left: 30px;
  align-items: center;
  flex-grow: 1;
  border: 1px solid black;
}

.logo span {
  color: mediumaquamarine;
}


/* Main Content Styles */
.content {
  width: 1232px;
  display: flex;
  margin: 0px auto 78px auto;
  padding-top: 116px;
  border: 1px solid black;
}

span {
  padding: 20px 10px;
  border: 1px solid black;
}


/*--------------------------------- LEFT COLUMN --------------------------*/
/* Main Story*/
.large .column {
  width: 630px;
  border: 1px solid black;
}

.column{
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  border: 1px solid black;
}

.lead-story {
  display: block;
  border: 1px solid black;
}

.narrative {
  font-family: Georgia, serif;
  font-size: 17px;
  color: black;
  margin-top: 16px;
  border: 1px solid black;
}

/* Main Story Image */
.lead-story .image-content {
  background-image: url(../images/img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.image-content {
  display: flex;
  width: 630px;
  margin-top: 0;
  text-align: left;
  border: 1px solid black;
  height: 300px;
  font-family: Georgia ,serif;
  font-weight: bold;
  color: white;
}

/* Sub Stories */
.stories {
  display: block;
  justify-content: space-between;
  margin-top: 17px;
}

/*.story {
  display: block;
  flex-direction: column;
  width: 300px;
}

.story-content {
  display: block;
  height: 250px;
}*/


/* Story 1 Image*/
.fall-cancelled.image-content {
  background-image: url(../images/img-story-2.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}


/* Story 2 Image */
.pop-culture.image-content {
  background-image: url(../images/img-story-3.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}
