header {
  display: flex;
  position: fixed;
  font-family: Veranda, sans-serif;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
}

/* Header Nav Styles */
nav {
display: block;
padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  text-decoration: underline;
  color: black;
}

/* Header Logo Styles */
.logo{
  display: flex;
  padding-left: 30px;
  align-items: center;
  flex-grow: 1;
}

.logo span {
  color: mediumaquamarine;
}


/* Main Content Styles */
.content {
  display: flex;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

span {
  padding: 20px 10px;
}


/*--------------------------------- LEFT COLUMN --------------------------*/
/* Main Story*/
.large.column {
  width: 630px;
}

.column{
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
